<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BancoSL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="../assets/img/banco.png" alt="imagen" style="width: 20px; height: 20px;">
           <a href="../assets/video/invideo-ai-480 ¡Descubre los beneficios de BancoJS! 2024-10-22 (1).mp4"><button type="button" class="btn btn-secondary">BancoSL</button></a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav mx-auto">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    <a class="nav-link" href="./Necesidade.html">Necesidades</a>
                    <a class="nav-link" href="./proYser.html">Productos y Servicios</a>
                    <a class="nav-link" href="./educacion.html">Educación Financiera</a>
                </div>
            </div>
           <a href="ingresa.html"><button class="btn btn-primary">Ingresar</button></a>
        </div>
    </nav>

    <header>
        <div class="text-center text-white">
            <h1>Gente Cuidando de su Gente</h1>
        </div>
    </header>

    <main>
        <section id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../assets/img/impuestos2.jpg" class="d-block mx-auto carousel-img" alt="es una imagen">
                <div class="carousel-caption-below">
                  <h5>¿Cansado de que te saquen dinero?</h5>
                  <p>Con nosotros no te cobramos el 4*1000, ni mucho menos comisión por retirar. ¿Qué esperas?</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../assets/img/fila2.jpg" class="d-block mx-auto carousel-img" alt="es una imagen">
                <div class="carousel-caption-below">
                  <h5>¿Y esa fila, cuál es?</h5>
                  <p>Deja de hacer largas filas, con nosotros agenda tu cita desde tu celular y solo pasa cuando tengas tu cita. También puedes mover tu dinero con confianza y rápidamente. ¿Qué esperas?</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../assets/img/invertir2.jpg" class="d-block mx-auto carousel-img" alt="es una imagen">
                <div class="carousel-caption-below">
                  <h5>¿Quieres invertir?</h5>
                  <p>Hoy te cuento que con nosotros puedes invertir en el extranjero y en tu país, y siempre tendrás el respaldo de los mejores profesionales del mercado. ¿Qué esperas?</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
          </section>
          <section class="container my-5">
            <div class="row text-center">
                <div class="col-12 col-md-4">
                    <h3 class="text-center">Nuestra Historia</h3>
                    <img src="../assets/img/libro-de-historia.png" alt="Historia del Banco" class="img-fluid w-50 mx-auto d-block">
                    <p class="mt-3">Desde nuestra fundación, hemos sido un pilar de confianza y seguridad financiera para nuestros clientes, ofreciendo soluciones innovadoras y personalizadas.</p>
                </div>
                <div class="col-12 col-md-4">
                    <h3>Análisis Financiero</h3>
                    <img src="../assets/img/inversion.png" alt="Análisis Financiero" class="img-fluid w-50 mx-auto d-block">
                    <p class="mt-3">Nuestros expertos en finanzas proporcionan análisis detallados para ayudarle a tomar decisiones informadas y estratégicas sobre sus inversiones.</p>
                </div>
                <div class="col-12 col-md-4">
                    <h3>Proyecciones Futuras</h3>
                    <img src="../assets/img/guia-financiera.png" alt="Proyecciones Futuras" class="img-fluid w-50 mx-auto d-block">
                    <p class="mt-3">Con una visión hacia el futuro, proyectamos el crecimiento y las oportunidades que le permitirán alcanzar sus metas financieras a largo plazo.</p>
                </div>
            </div>
        </section>

        <hr>

        <section class="container my-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 text-center">
                    <h6>¿Por qué no ahorra para su futuro?</h6>
                    <img src="../assets/img/felicidad.jpeg" alt="img" class="img-fluid">
                </div>
                <div class="col-12 col-md-5 text-center">
                    <h3>REGÍSTRATE</h3>
                    <form class="border rounded p-4 shadow">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo</label>
                            <input type="email" class="form-control" placeholder="tu correo" autocomplete="email">
                        </div>
                        <div>
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" placeholder="tu contraseña">
                        </div>
                        <div>
                            <label for="exampleInputPassword1" class="form-label">confirmacion contraseña</label>
                            <input type="password" class="form-control" placeholder="tu confirmacion">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputCity1" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" placeholder="tu Ciudad">
                        </div>
                        <button class="btn btn-outline-primary">Registrar👍</button>
                    </form>
                </div>
            </div>
        </section>

        <footer class="container-fluid g-0 p-5 bg-dark text-white">
            <div class="row">
                <div class="col-12 col-md-6 text-end">
                    <p>jony santiago loaiza orozco &copy;</p>
                    <a href="https://www.cesde.edu.co/"><p>CESDE</p></a> 
                    <p>Medellin-COlombia</p>
                </div>
                <div class="col-12 col-md-6 border-start">
                    <i class="bi bi-github fs-3"></i>
                    <i class="bi bi-twitch fs-3"></i>
                    <h4>BancoSL</h4>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
