<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Centrada</title>
    <link rel="stylesheet" href="../assets/style/estilosEnlacesVarNab.css"> <!-- Vinculando el archivo CSS externo -->
</head>
<body>
    <div class="content">
        <h1>Productos y Servicios</h1>
        <p>En BancoSL, estamos comprometidos a ofrecer una gama innovadora de productos y servicios diseñados para satisfacer todas tus necesidades financieras.
             Desde créditos con las tasas de interés más bajas del mercado hasta oportunidades de inversión seguras y rentables,
              nuestro objetivo es proporcionarte las herramientas necesarias para alcanzar tus metas financieras. Ofrecemos préstamos personales,
               hipotecarios y para pequeñas empresas con condiciones flexibles y competitivas. Además,
                nuestros expertos en inversión están siempre disponibles para guiarte en la creación de una cartera diversificada que maximice tus rendimientos. En BancoSL,
                 cada producto y servicio está diseñado pensando en tu bienestar financiero, asegurando que siempre tengas el apoyo necesario para prosperar. 🌟💼</p>
    </div>
</body>
</html>
